:root
    --color-primary: #7F38EC
    --color-secondary: #2B65EC
    --color-text: black
    --color-background: white

    // Always print in light theme
    @media screen and (prefers-color-scheme: dark)
        --color-text: white
        --color-background: black

body
    color: var(--color-text)
    background-color: var(--color-background)

h1
    color: var(--color-primary)