---
import "../styles/style.sass"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Homepage | Henry Wilder</title>
	</head>
	<body>
		<h1>Henry Wilder</h1>
		<!-- Bio -->
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, saepe.</p>
		<p>Reprehenderit, ducimus. Minima veritatis velit voluptatum quod cumque distinctio hic.</p>
		<p>Error consequatur voluptatem molestias odio quidem laudantium autem consectetur magnam!</p>
	</body>
</html>
